:root { /* cores e fontes */ 
    --cor-primaria: #E9B44C;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #077303;
    --cor-quaternaria: #000;


    --fonte-primaria:'Krona One' , sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


*{
    margin: 0; /* Reset de margin e padding para que o design nao fique louco ao mudar de navegador por exemplo  E9B44C*/ 
    padding: 0;
}


body {
    /* height: 100vh;  Preenchimento da pagina para evitar que o conteudo nao ocupe o espaço desejado*/ 
    box-sizing: border-box; /*evita que ele ultrapasse esse espaço*/
    background-color: var(--cor-primaria); /* define cor de fundo */ 
    color: var(--cor-terciaria);  /* define cor das letras*/ 
    
} 

.cabecalho{ 
    padding: 2% 0% 0% 15%; /*na ordem são o superior, direito, inferior e esquerdo o ajuste de padding na pagina */

    
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
    
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao{
    padding: 7% 15%; /* foque central e vertical da pagina em relação ao elementos */
    display: flex; /*Começando o posicionamento dos elementos na pagina , aqui por padrão se so tiver o flez ele vai jgar tudo na mesma linha */ 
    align-items: center; /* centraliza os elementos no centro para que ele não fique tão esticado, ele alinha os itens com base no elemento de maior altura */
    justify-content: space-between; /* enquanto houver espaço ele vai separar os dois agrupamentos e colocar um espáço entre eles */
    gap: 82px;  /* espaço de ambos imagen/texto */
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column; /* pondo o afastamento dos elementos*/
     gap: 40px;                       /* agora o espacamento de texto*/
     border-radius: 8px;
     border: 1px solid #ffffff;
     background-color: transparent;
     padding: 20px;
}

.apresentacao__conteudo__titulo{
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;  /* O rem e usado pra deixar as fontes mais manipulaveis no navegador ao inverde por exemplo 40px*/
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 155.556% */
}


.titulo-destaque{
    color: var(--cor-terciaria);  /*Cor do texto*/ 
    font-family: var(--fonte-primaria);
}


.apresentacao__conteudo__texto{
    color: var(--cor-quaternaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    text-align: justify; 
    
}

.apresentacao__botoes{ /*dando distancia entre os botões e os centralizando na tela*/
    display: flex; 
    flex-direction: column; /*coloca os botões e o texto um abaixo do outro*/
    align-items: center; /*centraliza os botões*/
    justify-content: space-between;
    gap: 32px;

} 


.apresentacao_botoes__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    

}

/* estilizando os botões*/

.apresentacao__botoes__botao{ 
    border: 2px solid var(--cor-secundaria); /* adiciona a borda em volta dos botões*/
    margin-right: 40px;
    color: var(--cor-secundaria);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
    width: 50%; /*ajusta o botão em relação ao elemento pai */
    border-radius: 8px;
    padding: 16px 0; /*padding horizontal e vertical o primeiro sempre e vertical e o segundo horizontal*/
    text-decoration: none; /* tirar as linhas sublinhadas do titulo */

}

.apresentacao__botoes__botao:hover{ /*estilização de quando o mouse passa por cima do botão*/
    background-color: var(--cor-terciaria);
}

.container {
    display: flex;
    flex-direction: column; /* Define a direção como coluna para empilhar as imagens verticalmente */
  }
  
  img {
    max-width: 100%; /* Define uma largura máxima para as imagens para que elas não estiquem além de seu tamanho natural */
    margin-bottom: 0.625rem; /* Adiciona espaço entre as imagens (ajuste conforme necessário) */
  }
  

.apresentacao__imagem {
    width: 50%;
}


.rodape{
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}




/* Paginas GRASP e Genetico informações */

.container_gep{
    display: flex;
    align-items: flex-start; /* Alinhar verticalmente ao centro */
}

img {
  height: auto; /* A altura da imagem será ajustada automaticamente para manter a proporção */
  max-width: 100%; /* A imagem não excederá o tamanho do container */
}




/* Paginas GRASP e GENETICO algoritmo */

.graspgerador_title   {
    color: var(--cor-secundaria);  
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;  
    font-style: normal;
    font-weight: 400;
    line-height: 56px;    
  }
















/* RESPONSIVIDADE PAGINA INICIAL*/


@media (min-width: 1201px) {
    .container {
        flex-direction: column; /* Altere a direção para empilhar as imagens verticalmente em telas maiores */
        align-items: center; /* Centralize as imagens verticalmente */
    }

    .apresentacao__imagem {
        width: auto; /* Permita que as imagens mantenham seu tamanho original */
        max-width: 100%; /* Defina uma largura máxima para que as imagens não se estiquem demais */
        height: auto; /* Mantenha a proporção da imagem */
    }
}

@media (max-width: 1200px) { /* Ate esse tamanho usa um estilo de formatação se passar disso utilizará outra formatação de tamanho*/
    .cabecalho{
        padding: 10% ;
    }
   
    .cabecalho__menu{
        justify-content: center;
    }
   
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto; 
    }
    .container {
        display: flex;
        flex-direction: column; /* Empilhe as imagens verticalmente */
        align-items: center; /* Centralize as imagens horizontalmente */
    }

    .apresentacao__imagem {
        width: 70%; /* Aumente a largura das imagens conforme desejado */
        max-width: none; /* Remova a largura máxima */
        height: auto; /* Mantenha a proporção da imagem */
        margin: 0 auto; /* Centralize as imagens horizontalmente */
    }
}


@media (max-width: 768px) {
    .cabecalho__menu__link {
        font-size: 1rem; /* Reduza o tamanho do texto do menu */
    }

    .cabecalho__menu {
        gap: 20px; /* Aumente o espaço entre os links do menu */
        }
      
     .cabecalho__menu {
         justify-content: center; /* Centralize os links do menu horizontalmente */
     }
     .apresentacao__conteudo__titulo {
        font-size: 1.5rem; /* Reduza o tamanho do título */
        line-height: 1.2; /* Ajuste a altura da linha para melhor legibilidade */
    }

    .apresentacao__conteudo__texto {
        font-size: 1rem; /* Reduza o tamanho do texto */
        line-height: 1.4; /* Ajuste a altura da linha para melhor legibilidade */
    }

    .apresentacao__botoes__botao {
        font-size: 1rem; /* Reduza o tamanho dos botões */
        padding: 12px 0; /* Ajuste o espaçamento interno dos botões */
    }
}
        
    
    
