/* Defina suas variáveis personalizadas aqui */
:root {
    --cor-primaria: #E9B44C;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #077303;
    --cor-quaternaria: #000;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    padding: 7% 15%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 20px;
}

.apresentacao__conteudo__titulo {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    color: var(--cor-quaternaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    margin-bottom: 0.625rem;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

/* Responsividade */
@media (min-width: 1201px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .apresentacao__imagem {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apresentacao__imagem {
        width: 70%;
        max-width: none;
        height: auto;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .cabecalho__menu__link {
        font-size: 1rem;
    }
}

/* Estilo para os botões */
.apresentacao__botoes {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center; /* Alinhar verticalmente os botões */
}

.apresentacao__botoes__botoes {
    display: flex;
    gap: 32px; /* Espaçamento entre os botões */
}

.apresentacao__botoes__botao {
    border: 2px solid var(--cor-secundaria);
    color: var(--cor-terciaria);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    width: 50%; /* Cada botão ocupa metade da largura do contêiner pai */
    border-radius: 8px;
    padding: 16px 0;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao__botoes__botao:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.apresentacao__botoes__botao.anterior {
    margin-right: 0; /* Remova a margem direita */
}

.apresentacao__botoes__botao.proximo {
    margin-left: 0; /* Remova a margem esquerda */
}
